* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  line-height: 1.6;
}

/* NAVBAR */
.navbar {
  display: flex;
  justify-content: space-between;
  background: #007BFF;
  color: white;
  padding: 15px;
}

.nav-links {
  list-style: none;
  display: flex;
}

.nav-links li {
  margin: 0 10px;
}

.nav-links a {
  color: white;
  text-decoration: none;
}

/* BANNER */
.banner {
  background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),
              url(imge/Anjan\ computer.png);
  color: white;
  text-align: center;
  padding: 100px 20px;
  height: 25%;
  background-position: center;
  background-size: cover;
  position: relative;
} 

.btn {
  display: inline-block;
  background: #fff;
  color: #007BFF;
  padding: 10px 20px;
  margin-top: 10px;
  text-decoration: none;
  border-radius: 5px;
}

/* SECTIONS */
.section {
  padding: 40px 20px;
  text-align: center;
}

/* CARDS */
.highlights {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 20px;
}

.card {
  background: #007BFF;
  color: white;
  padding: 20px;
  border-radius: 10px;
}

/* COURSES */
.course-container {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: center;
}

.course-card {
  background: #f4f4f4;
  padding: 12px;
  border: none;
  width:100%;
}

/* FORM */
form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 400px;
  margin: auto;
}

input, select, textarea {
  padding: 10px;
}

button {
  background: #007BFF;
  color: white;
  padding: 10px;
  border: none;
}

/* GALLERY */
.gallery {
  display: flex;
  gap: 10px;
  justify-content: center;
}

.gallery img {
  width: 30%;
}

/* MAP */
iframe {
  width: 100%;
  height: 250px;
  border: none;
  margin-top: 10px;
}

/* WHATSAPP */
.whatsapp {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: green;
  color: white;
  padding: 15px;
  border-radius: 50%;
}

/* FOOTER */
footer {
  background: #007BFF;
  color: white;
  text-align: center;
  padding: 10px;
}

/* RESPONSIVE */
@media (max-width: 768px) {
  .nav-links {
    flex-direction: column;
  }

  .highlights {
    flex-direction: column;
  }

  .gallery img {
    width: 100%;
  }
}